@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.comfortaa-300 {
  font-family: "Comfortaa", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
